<table class="schedule">
  <thead>
    <tr>
      <th>Week</th>
      <th>Dates</th>
      <th>Class</th>
      <th>Instructor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>6/17, 19, 21</td>
      <td><a href="/classes/web-skills/">Web Skills</a></td>
      <td><a href="/instructors/#shawn">Shawn Allen</a> &amp;
          <a href="/instructors/#matt">Matt Ganucheau</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>6/24, 26, 28</td>
      <td><a href="/classes/web-skills/">Processing</a></td>
      <td><a href="/instructors/#matt">Matt Ganucheau</a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>7/1, 3, 5</td>
      <td><a href="/classes/javascript/">JavaScript</a></td>
      <td><a href="/instructors/#shawn">Shawn Allen</a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>7/8, 10, 12</td>
      <td>Node.js</td>
      <td><a href="/instructors/#neal">Neal Riley</a></td>
    </tr>
    <tr>
      <td>5</td>
      <td>7/15, 17, 19</td>
      <td>Microcontrollers</td>
      <td><a href="/instructors/#matt">Matt Ganucheau</a></td>
    </tr>
    <tr>
      <td>6</td>
      <td>7/22, 24, 26</td>
      <td>openFrameworks</td>
      <td><a href="/instructors/#ben">Ben McChesney</a></td>
    </tr>
    <tr>
      <td>7</td>
      <td>7/29, 31, 8/2</td>
      <td>Data Visualization</td>
      <td><a href="/instructors/#shawn">Shawn Allen</a></td>
    </tr>
    <tr>
      <td>8</td>
      <td>8/5, 7, 9</td>
      <td>Interactive Installations</td>
      <td><a href="/instructors/#matt">Matt Ganucheau</a></td>
    </tr>
    <tr>
      <td>9</td>
      <td>8/12, 14, 16</td>
      <td>Computer Vision</td>
      <td><a href="/instructors/#ben">Ben McChesney</a></td>
    </tr>
    <tr>
      <td>10</td>
      <td>8/19, 21, 23</td>
      <td>Projection Mapping</td>
      <td><a href="/instructors/#gabriel">Gabriel Dunne</a></td>
    </tr>
  </tbody>
</table>
