body {
  /* just use Helvetica for everything */
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

* {
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0 0 .5em 0;
}

svg {
  border: 1px solid #ccc;
}
