body {
  /* just use Helvetica for everything */
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

.bar {
  background-color: #f0f;
}

svg {
  border: 1px solid #ccc;
}

circle {
  fill: #000;
  fill-opacity: .5;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 1;
}
