<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.name }} | {{ site.name }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a id="logo" href="/"><img src="{{ site.url }}/img/ccio.png" alt="Creative Code"></a>
        <h1>Summer Immersive 2014</h1>
        <nav>
          <a href="{{ site.url }}/classes/">Classes</a>
          <a href="{{ site.url }}/instructors/">Instructors</a>
          <a href="{{ site.url }}/students/">Students</a>
          <a href="{{ site.url }}/schedule/">Schedule</a>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <footer>
      <div class="container">
        {% include footer.html %}
      </div>
    </footer>
  </body>
</html>
