<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a id="logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/ccio.png" alt="Creative Code"></a>
        <h1>Summer Immersive 2014</h1>
        <nav>
          <a href="{{ site.baseurl }}/classes/">Classes</a>
          <a href="{{ site.baseurl }}/instructors/">Instructors</a>
          <a href="{{ site.baseurl }}/students/">Students</a>
          <a href="{{ site.baseurl }}/schedule/">Schedule</a>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <footer>
      <div class="container">
        {% include footer.html %}
      </div>
    </footer>
  </body>
</html>
